language: common-lisp

env:
  matrix:
    - LISP=sbcl
    - LISP=ccl
    - LISP=clisp

before_install:
  # libuv for Wookie
  - curl -L https://github.com/libuv/libuv/archive/v1.2.0.tar.gz | tar xzf -
  - (cd libuv-1.2.0 && ./autogen.sh && ./configure --prefix=/usr && make && sudo make install)
  # nginx for FastCGI handler
  - sudo add-apt-repository -y ppa:nginx/stable
  - sudo apt-get update -qq
  - sudo apt-get install -qq nginx libfcgi-dev

install:
  # Install cl-travis
  - curl https://raw.githubusercontent.com/luismbo/cl-travis/master/install.sh | bash

before_script:
  - git clone https://github.com/fukamachi/quri ~/lisp/quri
  - git clone https://github.com/orthecreedence/wookie ~/lisp/wookie
  - sudo nginx -c t/nginx.conf -p "$PWD/"

script:
  - "cl -l prove
        -e '(or (every (function identity)
                       (list (prove:run :t-clack)
                             (prove:run :t-clack-handler-hunchentoot)
                             #-ccl (prove:run :t-clack-handler-wookie)
                             #+sbcl (prove:run :t-clack-handler-fcgi)
                             (prove:run :t-clack-handler-toot)
                             (prove:run :t-clack-middleware-csrf)
                             (prove:run :t-clack-middleware-auth-basic)))
                (uiop:quit -1))'"
